@media screen and (max-width:900px) {

    section {

        div {
            div {
                img {
    
                    width: 800px;
                    height: 800px;
                }
            }
        }
    }


    .main-galery {


        .grid-galeria {
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: auto;

            .grid-image {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }

    .main-about {
        h2 {
            font-size: 50px;
        }

        .section-about-1 {
            font-size: 15px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        .section-about-2 {
            font-size: 15px;

            img {
                width: 150px;
                height: 150px;
            }
        }

        .section-about-3 {
            font-size: 15px;

            img {
                width: 150px;
                height: 150px;
            }
        }
    }



    .main-musica {
        h2 {
            text-align: center;
            font-family: 'Phudu', cursive;
            font-size: 75px;
            color: #000000
        }
    }
}










@media screen and (max-width:650px) {
    header {

        nav {
            .navbar-brand {
                font-size: 40px;
            }
        }
    }



    .main-about {

        h2 {
            font-size: 25px;
        }

        .section-about-1 {
            font-size: 10px;

            img {
                width: 110px;
                height: 110px;
            }
        }

        .section-about-2 {
            font-size: 10px;

            img {
                width: 110px;
                height: 110px;
            }
        }

        .section-about-3 {
            font-size: 10px;

            img {
                width: 110px;
                height: 110px;
            }
        }
    }

    .main-tour {
        background-color: #394032;

        h2 {
            font-family: 'Phudu', cursive;
            font-size: 50px;
            color: #000000;
            text-align: center;
        }

        .section-tour-1 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border: solid 5px;
                    padding: 10px;
                }
            }

            img {
                height: 200px;
                width: 200px;
            }
        }

        .section-tour-2 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border: solid 5px;
                    padding: 10px;
                }
            }

            img {
                height: 200px;
                width: 200px;
            }
        }

        .section-tour-3 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border: solid 5px;
                    padding: 10px;
                }
            }

            img {
                height: 200px;
                width: 200px;
            }
        }

        .section-tour-4 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border: solid 5px;
                    padding: 10px;
                }
            }

            img {
                height: 200px;
                width: 200px;
            }
        }

        .section-tour-5 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                a {
                    text-decoration: none;
                    color: black;
                    font-weight: bold;
                    border: solid 5px;
                    padding: 10px;
                }
            }

            img {
                height: 200px;
                width: 200px;
            }
        }
    }

    .main-musica {
        background-color: #394032;

        h2 {
            text-align: center;
            font-family: 'Phudu', cursive;
            font-size: 25px;
            color: #000000;
        }

        .music-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            justify-items: center;

            .section {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 25px;
                    font-family: 'Phudu', cursive;
                    margin: 20px;
                    color: beige;
                }

                .iframe-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    iframe {
                        border-radius: 12px;
                        width: 100%;
                        max-width: 400px;
                    }
                }
            }
        }
    }

}
















@media screen and (max-width:500px) {


    .main-galery {
        h2 {
            font-size: 30px;
        }

        .grid-galeria {
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: auto;

            .grid-image {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
    }

    .main-about {

        h2 {
            font-size: 20px;
        }

        .section-about-1 {
            font-size: 9px;

            img {
                width: 95px;
                height: 95px;
            }
        }

        .section-about-2 {
            font-size: 9px;

            img {
                width: 95px;
                height: 95px;
            }
        }

        .section-about-3 {
            font-size: 9px;

            img {
                width: 95px;
                height: 95px;
            }
        }
    }

    .main-tour {
        background-color: #394032;

        h2 {
            font-family: 'Phudu', cursive;
            font-size: 35px;
            color: #000000;
            text-align: center;
        }

        .section-tour-1 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                .btn-lg {
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 1rem;
                    --bs-btn-font-size: 10px;
                    --bs-btn-border-radius: var(--bs-border-radius-lg);
                }
            }

            img {
                height: 150px;
                width: 150px;
            }
        }

        .section-tour-2 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                .btn-lg {
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 1rem;
                    --bs-btn-font-size: 10px;
                    --bs-btn-border-radius: var(--bs-border-radius-lg);
                }
            }

            img {
                height: 150px;
                width: 150px;
            }
        }

        .section-tour-3 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                .btn-lg {
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 1rem;
                    --bs-btn-font-size: 10px;
                    --bs-btn-border-radius: var(--bs-border-radius-lg);
                }
            }

            img {
                height: 150px;
                width: 150px;
            }
        }

        .section-tour-4 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                .btn-lg {
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 1rem;
                    --bs-btn-font-size: 10px;
                    --bs-btn-border-radius: var(--bs-border-radius-lg);
                }
            }

            img {
                height: 150px;
                width: 150px;
            }
        }

        .section-tour-5 {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            font-size: 15px;
            padding: 30px;

            div {
                width: 50%;
                text-align: center;
                color: #1E2019;

                p {
                    font-family: 'Phudu', cursive;
                    color: #000000;
                }

                .btn-lg {
                    --bs-btn-padding-y: 0.5rem;
                    --bs-btn-padding-x: 1rem;
                    --bs-btn-font-size: 10px;
                    --bs-btn-border-radius: var(--bs-border-radius-lg);
                }
            }

            img {
                height: 150px;
                width: 150px;
            }
        }
    }





    .main-musica {
        h2 {
            text-align: center;
            font-family: 'Phudu', cursive;
            font-size: 50px;
            color: #000000
        }
    }

    .main-musica {
        background-color: #394032;

        h2 {
            text-align: center;
            font-family: 'Phudu', cursive;
            font-size: 20px;
            color: #000000;
        }

        .music-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 20px;
            justify-items: center;

            .section {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 20px;
                    font-family: 'Phudu', cursive;
                    margin: 20px;
                    color: beige;
                }

                .iframe-container {
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    iframe {
                        border-radius: 12px;
                        width: 100%;
                        max-width: 300px;
                    }
                }
            }
        }
    }








    footer {
        div {
            img {
                height: 40px;
                width: auto;
            }
        }

        .logo {
            height: 60px;
            width: auto;
        }
    }

}





@media screen and (max-width:400px) {


    header {

        nav {
            .navbar-brand {
                font-size: 30px;
            }
        }
    }

    .main-musica {
        h2 {
            text-align: center;
            font-family: 'Phudu', cursive;
            font-size: 35px;
            color: #000000
        }
    }


    footer {
        div {
            img {
                height: 30px;
                width: auto;
            }
        }

        .logo {
            height: 50px;
            width: auto;
        }
    }
}