
$color-principal: yellow;
$color-principal: white;
$color-principal: #0000ff;



$colores: red, blue, white, orange, grey;
$font-size: 12px,
    18px,
    20px,
    45px,
    70px;

$padding: 12px, 20px, 30px;

$ancho: 720px;

 

$map-h2: (
    text-align: center,
    color: black,
);


%flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex($flex, $justify-content, $align, $font-size, $padding) {
    display: $flex;
    justify-content: $justify-content;
    align-items: $align;
    font-size: $font-size;
    padding: $padding;
}

@mixin contacto($background-color, $width, $height, $color, $display, $align, $flex-direction, $padding) {
    background-color: $background-color;
    width: $width;
    height: $height;
    color: $color;
    display: $display;
    align-items: $align;
    flex-direction: $flex-direction;
    padding: $padding;
}