.main-about {
    background-color: #394032;
    font-family: 'Phudu', cursive;

    h2 {
        text-align: center;
        font-size: 70px;
        color: black;
    }

    .section-about-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: nth($font-size, 3);
        padding: nth($padding , 3);

        img {
            width: 250px;
            height: 250px;
        }

        div {
            width: 50%;
            text-align: center;
            color: #000000;


        }

        img {
            width: 250px;
            height: 250px;
        }
    }

    .section-about-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        img {
            width: 250px;
            height: 250px;
        }

        div {
            width: 50%;
            text-align: center;
            color: #000000;


        }

        img {
            width: 250px;
            height: 250px;
        }
    }

    .section-about-3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        img {
            width: 250px;
            height: 250px;
        }

        div {
            width: 50%;
            text-align: center;
            color: #000000;



            p {
                a {
                    text-decoration: none;
                    color: wheat;
                    font-weight: bold;
                }
            }
        }

        img {
            width: 250px;
            height: 250px;
        }
    }

}