.main-musica {
    background-color: #394032;

    h2 {
        text-align: center;
        font-family: 'Phudu', cursive;
        font-size: 100px;
        color: #000000
    }

    section {
        h3 {
            font-family: 'Phudu', cursive;
            margin: 20px;
            color: beige;
        }
    }

    section {
        h3 {
            font-family: 'Phudu', cursive;
            margin: 20px;
            color: beige;
        }
    }

    section {
        h3 {
            font-family: 'Phudu', cursive;
            margin: 20px;
            color: beige;
        }
    }
}