.main-tour {
    background-color: #394032;

    h2 {
        font-family: 'Phudu', cursive;
        font-size: 70px;
        color: #000000;
        text-align: center;
    }

    .section-tour-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: solid 5px;
                padding: 10px;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: solid 5px;
                padding: 10px;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: solid 5px;
                padding: 10px;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: nth($font-size,3);
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: solid 5px;
                padding: 10px;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-5 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            a {
                text-decoration: none;
                color: black;
                font-weight: bold;
                border: solid 5px;
                padding: 10px;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }
}