.main-tour {
    background-color: #394032;

    h2 {
        font-family: 'Phudu', cursive;
        font-size: 70px;
        color: #000000;
        text-align: center;
    }

    .section-tour-1 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #000000;
                --bs-btn-border-color: #2b2b2b;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #303030;
                --bs-btn-hover-border-color: #000000;
                --bs-btn-focus-shadow-rgb: 49,132,253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #000000;
                --bs-btn-active-border-color: #252525;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: #3b3b3b;
                --bs-btn-disabled-border-color: #3b3b3b;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-2 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #000000;
                --bs-btn-border-color: #2b2b2b;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #303030;
                --bs-btn-hover-border-color: #000000;
                --bs-btn-focus-shadow-rgb: 49,132,253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #000000;
                --bs-btn-active-border-color: #252525;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: #3b3b3b;
                --bs-btn-disabled-border-color: #3b3b3b;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-3 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #000000;
                --bs-btn-border-color: #2b2b2b;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #303030;
                --bs-btn-hover-border-color: #000000;
                --bs-btn-focus-shadow-rgb: 49,132,253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #000000;
                --bs-btn-active-border-color: #252525;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: #3b3b3b;
                --bs-btn-disabled-border-color: #3b3b3b;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-4 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: nth($font-size,3);
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #000000;
                --bs-btn-border-color: #2b2b2b;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #303030;
                --bs-btn-hover-border-color: #000000;
                --bs-btn-focus-shadow-rgb: 49,132,253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #000000;
                --bs-btn-active-border-color: #252525;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: #3b3b3b;
                --bs-btn-disabled-border-color: #3b3b3b;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }

    .section-tour-5 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
        padding: 30px;

        div {
            width: 50%;
            text-align: center;
            color: #1E2019;

            p {
                font-family: 'Phudu', cursive;
                color: #000000;
            }

            .btn-primary {
                --bs-btn-color: #fff;
                --bs-btn-bg: #000000;
                --bs-btn-border-color: #2b2b2b;
                --bs-btn-hover-color: #fff;
                --bs-btn-hover-bg: #303030;
                --bs-btn-hover-border-color: #000000;
                --bs-btn-focus-shadow-rgb: 49,132,253;
                --bs-btn-active-color: #fff;
                --bs-btn-active-bg: #000000;
                --bs-btn-active-border-color: #252525;
                --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
                --bs-btn-disabled-color: #fff;
                --bs-btn-disabled-bg: #3b3b3b;
                --bs-btn-disabled-border-color: #3b3b3b;
            }
        }

        img {
            height: 300px;
            width: 300px;
        }
    }
}